# EmailJS Configuration
# Get these values from https://www.emailjs.com/
PUBLIC_EMAILJS_SERVICE_ID=your_service_id_here
PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id_here
PUBLIC_EMAILJS_PUBLIC_KEY=your_public_key_here

# Last.fm (https://www.last.fm/api/account/create)
LASTFM_API_KEY=your_lastfm_api_key_here

# Steam (https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=your_steam_api_key_here
